p {
  margin-right: 10px;
  display: inline-block;
}
h3 {
  margin-right: 10px;
  display: inline-block;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
